.main_block {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.container {
  width: 90vw;
  height: 195px;
  background-color: #e36e00;
  padding: 20px;
  border-radius: 25px;
}
.container .nameCompany {
  color: black;
  font-weight: 800;
  font-size: 20px;
  font-family: TTForsTrialVariable;
  z-index: 10;
}
.container .descriptionText {
  color: #f1f1f1;
  font-size: 20px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
  z-index: 10;
}
.container .subDescriptionText {
  color: #f1f1f1;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  z-index: 10;
}
