.container {
  padding: 30px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container .headerField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.container .headerField .nameText {
  color: #f1f1f1;
  font-size: 21px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container .productCarousel {
  width: 100%;
  display: flex;
  gap: 28px;
  overflow: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}
