.container {
  padding: 30px;
  background-color: rgba(8, 8, 8, 1);
  width: 100%;
  border-radius: 26px;
  .headerField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nameText {
      color: rgba(241, 241, 241, 1);
      font-size: 21px;
      font-weight: 600;
    }
  }
  .productCarousel {
    width: 100%;
    display: flex;
    gap: 28px;
    overflow: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
  }
}
