.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 85px 20px 85px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
  z-index: 2;
}
.container img {
  padding: 5px;
  cursor: pointer;
}
