@font: montserrat;

.container585_600 {
  width: 100%;
  background-color: rgba(8, 8, 8, 1);

  padding: 20px;
  display: flex;
  border-radius: 30px;

  .imageContainer {
    min-width: 209px;
    img {
      width: 209px;
      height: 202px;
      object-fit: contain;
    }
  }
  .infoCard {
    display: flex;
    flex-direction: column;
    margin-left: 26px;
    width: 278px;
    .headerCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .catalogButton {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        p {
          font-size: 20px;
          color: rgba(219, 105, 0, 1);
          font-family: @font;
          font-weight: 500;
          text-decoration: underline;
        }
        img {
          height: 30px;
        }
      }
      .settingsProductButton {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 20px;
      }
    }
    .nameProductText {
      margin-top: 10px;
      color: white;
      font-size: 20px;
      font-family: @font;
      font-weight: 600;
    }
    .modelNameText {
      color: white;
      font-size: 20px;
      font-family: @font;
      font-weight: 500;
    }
    .countProductText {
      color: white;
      font-size: 20px;
      font-family: @font;
      font-weight: 500;
    }
    .sizeText {
      font-family: @font;
      font-weight: 500;
      font-size: 20px;
      color: rgba(155, 155, 155, 1);
      span {
        color: white;
      }
    }
    .counterProduct {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
      p {
        color: white;
        font-size: 20px;
        font-family: @font;
        font-weight: 500;
        width: 30px;
        text-align: center;
      }
      .buttonLock {
        background-color: rgba(147, 147, 147, 1);
        cursor: no-drop;
      }
      .buttonUnlock {
        cursor: pointer;
        background-color: rgba(219, 105, 0, 1);
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        border-radius: 3px;
      }
    }
    .costsView {
      margin-top: 10px;
      display: flex;
      gap: 12px;
      align-items: end;
      .priceText {
        font-size: 23px;
        font-family: @font;
        font-weight: 600;
        color: rgba(219, 105, 0, 1);
      }
      .oldPriceText {
        font-size: 21px;
        font-weight: 500;
        font-family: @font;
        color: rgba(155, 155, 155, 1);
        text-decoration: line-through;
      }
    }
    .buyButton {
      height: 45px;
      padding: 0 10px 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      border: 1px solid rgba(219, 105, 0, 1);
      border-radius: 4px;
      cursor: pointer;
      p {
        font-size: 20px;
        font-family: @font;
        color: rgba(219, 105, 0, 1);
        font-weight: 600;
      }
    }
  }
}

.container565_585 {
  width: 100%;
  background-color: rgba(8, 8, 8, 1);

  padding: 20px;
  display: flex;
  border-radius: 30px;
  .imageContainer {
    min-width: 204px;
    img {
      width: 204px;
      height: 197px;
      object-fit: contain;
    }
  }
  .infoCard {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    width: 278px;
    .headerCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .catalogButton {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        p {
          font-size: 19px;
          color: rgba(219, 105, 0, 1);
          font-family: @font;
          font-weight: 500;
          text-decoration: underline;
        }
        img {
          height: 29px;
        }
      }
      .settingsProductButton {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 20px;
      }
    }
    .nameProductText {
      margin-top: 10px;
      color: white;
      font-size: 19px;
      font-family: @font;
      font-weight: 600;
    }
    .modelNameText {
      color: white;
      font-size: 19px;
      font-family: @font;
      font-weight: 500;
    }
    .countProductText {
      color: white;
      font-size: 19px;
      font-family: @font;
      font-weight: 500;
    }
    .sizeText {
      font-family: @font;
      font-weight: 500;
      font-size: 19px;
      color: rgba(155, 155, 155, 1);
      span {
        color: white;
      }
    }
    .counterProduct {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
      p {
        color: white;
        font-size: 19px;
        font-family: @font;
        font-weight: 500;
        width: 30px;
        text-align: center;
      }
      .buttonLock {
        background-color: rgba(147, 147, 147, 1);
        cursor: no-drop;
      }
      .buttonUnlock {
        cursor: pointer;
        background-color: rgba(219, 105, 0, 1);
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        border-radius: 3px;
      }
    }
    .costsView {
      margin-top: 10px;
      display: flex;
      gap: 12px;
      align-items: end;
      .priceText {
        font-size: 21px;
        font-family: @font;
        font-weight: 600;
        color: rgba(219, 105, 0, 1);
      }
      .oldPriceText {
        font-size: 20px;
        font-weight: 500;
        font-family: @font;
        color: rgba(155, 155, 155, 1);
        text-decoration: line-through;
      }
    }
    .buyButton {
      height: 45px;
      padding: 0 10px 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      border: 1px solid rgba(219, 105, 0, 1);
      border-radius: 4px;
      cursor: pointer;
      p {
        font-size: 19px;
        font-family: @font;
        color: rgba(219, 105, 0, 1);
        font-weight: 600;
      }
    }
  }
}

.container525_565 {
  width: 100%;
  background-color: rgba(8, 8, 8, 1);

  padding: 20px;
  display: flex;
  border-radius: 30px;

  .imageContainer {
    min-width: 189px;
    img {
      width: 189px;
      height: 182px;
      object-fit: contain;
    }
  }
  .infoCard {
    display: flex;
    flex-direction: column;
    width: 278px;
    margin-left: 22px;
    .headerCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .catalogButton {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        p {
          font-size: 17px;
          color: rgba(219, 105, 0, 1);
          font-family: @font;
          font-weight: 500;
          text-decoration: underline;
        }
        img {
          height: 26px;
        }
      }
      .settingsProductButton {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 20px;
      }
    }
    .nameProductText {
      margin-top: 10px;
      color: white;
      font-size: 17px;
      font-family: @font;
      font-weight: 600;
    }
    .modelNameText {
      color: white;
      font-size: 17px;
      font-family: @font;
      font-weight: 500;
    }
    .countProductText {
      color: white;
      font-size: 17px;
      font-family: @font;
      font-weight: 500;
    }
    .sizeText {
      font-family: @font;
      font-weight: 500;
      font-size: 17px;
      color: rgba(155, 155, 155, 1);
      span {
        color: white;
      }
    }
    .counterProduct {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
      p {
        color: white;
        font-size: 17px;
        font-family: @font;
        font-weight: 500;
        width: 30px;
        text-align: center;
      }
      .buttonLock {
        background-color: rgba(147, 147, 147, 1);
        cursor: no-drop;
      }
      .buttonUnlock {
        cursor: pointer;
        background-color: rgba(219, 105, 0, 1);
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 3px;
      }
    }
    .costsView {
      margin-top: 10px;
      display: flex;
      gap: 12px;
      align-items: end;
      .priceText {
        font-size: 20px;
        font-family: @font;
        font-weight: 600;
        color: rgba(219, 105, 0, 1);
      }
      .oldPriceText {
        font-size: 18px;
        font-weight: 500;
        font-family: @font;
        color: rgba(155, 155, 155, 1);
        text-decoration: line-through;
      }
    }
    .buyButton {
      height: 45px;
      padding: 0 10px 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      border: 1px solid rgba(219, 105, 0, 1);
      border-radius: 4px;
      cursor: pointer;
      p {
        font-size: 17px;
        font-family: @font;
        color: rgba(219, 105, 0, 1);
        font-weight: 600;
      }
    }
  }
}

.container485_525 {
  width: 100%;
  background-color: rgba(8, 8, 8, 1);
  padding: 20px;
  display: flex;
  border-radius: 30px;

  .imageContainer {
    min-width: 169px;
    img {
      width: 169px;
      height: 162px;
      object-fit: contain;
    }
  }
  .infoCard {
    display: flex;
    flex-direction: column;
    width: 278px;
    margin-left: 20px;
    .headerCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .catalogButton {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        p {
          font-size: 15px;
          color: rgba(219, 105, 0, 1);
          font-family: @font;
          font-weight: 500;
          text-decoration: underline;
        }
        img {
          height: 23px;
        }
      }
      .settingsProductButton {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 20px;
      }
    }
    .nameProductText {
      margin-top: 10px;
      color: white;
      font-size: 15px;
      font-family: @font;
      font-weight: 600;
    }
    .modelNameText {
      color: white;
      font-size: 15px;
      font-family: @font;
      font-weight: 500;
    }
    .countProductText {
      color: white;
      font-size: 15px;
      font-family: @font;
      font-weight: 500;
    }
    .sizeText {
      font-family: @font;
      font-weight: 500;
      font-size: 15px;
      color: rgba(155, 155, 155, 1);
      span {
        color: white;
      }
    }
    .counterProduct {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
      p {
        color: white;
        font-size: 15px;
        font-family: @font;
        font-weight: 500;
        width: 30px;
        text-align: center;
      }
      .buttonLock {
        background-color: rgba(147, 147, 147, 1);
        cursor: no-drop;
      }
      .buttonUnlock {
        cursor: pointer;
        background-color: rgba(219, 105, 0, 1);
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        border-radius: 3px;
      }
    }
    .costsView {
      margin-top: 10px;
      display: flex;
      gap: 12px;
      align-items: end;
      .priceText {
        font-size: 18px;
        font-family: @font;
        font-weight: 600;
        color: rgba(219, 105, 0, 1);
      }
      .oldPriceText {
        font-size: 16px;
        font-weight: 500;
        font-family: @font;
        color: rgba(155, 155, 155, 1);
        text-decoration: line-through;
      }
    }
    .buyButton {
      height: 45px;
      padding: 0 10px 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      border: 1px solid rgba(219, 105, 0, 1);
      border-radius: 4px;
      cursor: pointer;
      p {
        font-size: 15px;
        font-family: @font;
        color: rgba(219, 105, 0, 1);
        font-weight: 600;
      }
    }
  }
}

.container450_485 {
  width: 100%;
  background-color: rgba(8, 8, 8, 1);

  padding: 20px;
  display: flex;
  border-radius: 30px;

  .imageContainer {
    min-width: 159px;
    img {
      width: 159px;
      height: 152px;
      object-fit: contain;
    }
  }
  .infoCard {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    width: 278px;
    .headerCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .catalogButton {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        p {
          font-size: 14px;
          color: rgba(219, 105, 0, 1);
          font-family: @font;
          font-weight: 500;
          text-decoration: underline;
        }
        img {
          height: 21px;
        }
      }
      .settingsProductButton {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 20px;
      }
    }
    .nameProductText {
      margin-top: 10px;
      color: white;
      font-size: 14px;
      font-family: @font;
      font-weight: 600;
    }
    .modelNameText {
      color: white;
      font-size: 14px;
      font-family: @font;
      font-weight: 500;
    }
    .countProductText {
      color: white;
      font-size: 14px;
      font-family: @font;
      font-weight: 500;
    }
    .sizeText {
      font-family: @font;
      font-weight: 500;
      font-size: 14px;
      color: rgba(155, 155, 155, 1);
      span {
        color: white;
      }
    }
    .counterProduct {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
      p {
        color: white;
        font-size: 14px;
        font-family: @font;
        font-weight: 500;
        width: 30px;
        text-align: center;
      }
      .buttonLock {
        background-color: rgba(147, 147, 147, 1);
        cursor: no-drop;
      }
      .buttonUnlock {
        cursor: pointer;
        background-color: rgba(219, 105, 0, 1);
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 3px;
      }
    }
    .costsView {
      margin-top: 10px;
      display: flex;
      gap: 12px;
      align-items: end;
      .priceText {
        font-size: 17px;
        font-family: @font;
        font-weight: 600;
        color: rgba(219, 105, 0, 1);
      }
      .oldPriceText {
        font-size: 15px;
        font-weight: 500;
        font-family: @font;
        color: rgba(155, 155, 155, 1);
        text-decoration: line-through;
      }
    }
    .buyButton {
      height: 45px;
      padding: 0 10px 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      border: 1px solid rgba(219, 105, 0, 1);
      border-radius: 4px;
      cursor: pointer;
      p {
        font-size: 14px;
        font-family: @font;
        color: rgba(219, 105, 0, 1);
        font-weight: 600;
      }
    }
  }
}

.container410_450 {
  width: 100%;
  background-color: rgba(8, 8, 8, 1);

  padding: 20px;
  display: flex;
  border-radius: 30px;

  .imageContainer {
    min-width: 144px;
    img {
      width: 144px;
      height: 142px;
      object-fit: contain;
    }
  }
  .infoCard {
    display: flex;
    flex-direction: column;
    width: 278px;
    margin-left: 16px;
    .headerCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .catalogButton {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        p {
          font-size: 13px;
          color: rgba(219, 105, 0, 1);
          font-family: @font;
          font-weight: 500;
          text-decoration: underline;
        }
        img {
          height: 20px;
        }
      }
      .settingsProductButton {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 20px;
      }
    }
    .nameProductText {
      margin-top: 10px;
      color: white;
      font-size: 13px;
      font-family: @font;
      font-weight: 600;
    }
    .modelNameText {
      color: white;
      font-size: 13px;
      font-family: @font;
      font-weight: 500;
    }
    .countProductText {
      color: white;
      font-size: 13px;
      font-family: @font;
      font-weight: 500;
    }
    .sizeText {
      font-family: @font;
      font-weight: 500;
      font-size: 13px;
      color: rgba(155, 155, 155, 1);
      span {
        color: white;
      }
    }
    .counterProduct {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
      p {
        color: white;
        font-size: 13px;
        font-family: @font;
        font-weight: 500;
        width: 30px;
        text-align: center;
      }
      .buttonLock {
        background-color: rgba(147, 147, 147, 1);
        cursor: no-drop;
      }
      .buttonUnlock {
        cursor: pointer;
        background-color: rgba(219, 105, 0, 1);
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 3px;
      }
    }
    .costsView {
      margin-top: 10px;
      display: flex;
      gap: 12px;
      align-items: end;
      .priceText {
        font-size: 16px;
        font-family: @font;
        font-weight: 600;
        color: rgba(219, 105, 0, 1);
      }
      .oldPriceText {
        font-size: 14px;
        font-weight: 500;
        font-family: @font;
        color: rgba(155, 155, 155, 1);
        text-decoration: line-through;
      }
    }
    .buyButton {
      height: 45px;
      padding: 0 10px 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      border: 1px solid rgba(219, 105, 0, 1);
      border-radius: 4px;
      cursor: pointer;
      p {
        font-size: 13px;
        font-family: @font;
        color: rgba(219, 105, 0, 1);
        font-weight: 600;
      }
    }
  }
}

.container375_410 {
  width: 100%;
  background-color: rgba(8, 8, 8, 1);

  padding: 15px;
  display: flex;
  border-radius: 30px;

  .imageContainer {
    min-width: 129px;
    img {
      width: 129px;
      height: 152px;
      object-fit: contain;
    }
  }
  .infoCard {
    display: flex;
    flex-direction: column;
    width: 278px;
    margin-left: 10px;
    .headerCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .catalogButton {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        p {
          font-size: 13px;
          color: rgba(219, 105, 0, 1);
          font-family: @font;
          font-weight: 500;
          text-decoration: underline;
        }
        img {
          height: 20px;
        }
      }
      .settingsProductButton {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 20px;
      }
    }
    .nameProductText {
      margin-top: 10px;
      color: white;
      font-size: 13px;
      font-family: @font;
      font-weight: 600;
    }
    .modelNameText {
      color: white;
      font-size: 13px;
      font-family: @font;
      font-weight: 500;
    }
    .countProductText {
      color: white;
      font-size: 13px;
      font-family: @font;
      font-weight: 500;
    }
    .sizeText {
      font-family: @font;
      font-weight: 500;
      font-size: 13px;
      color: rgba(155, 155, 155, 1);
      span {
        color: white;
      }
    }
    .counterProduct {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
      p {
        color: white;
        font-size: 13px;
        font-family: @font;
        font-weight: 500;
        width: 30px;
        text-align: center;
      }
      .buttonLock {
        background-color: rgba(147, 147, 147, 1);
        cursor: no-drop;
      }
      .buttonUnlock {
        cursor: pointer;
        background-color: rgba(219, 105, 0, 1);
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: 3px;
      }
    }
    .costsView {
      margin-top: 10px;
      display: flex;
      gap: 12px;
      align-items: end;
      .priceText {
        font-size: 16px;
        font-family: @font;
        font-weight: 600;
        color: rgba(219, 105, 0, 1);
      }
      .oldPriceText {
        font-size: 14px;
        font-weight: 500;
        font-family: @font;
        color: rgba(155, 155, 155, 1);
        text-decoration: line-through;
      }
    }
    .buyButton {
      height: 45px;
      padding: 0 10px 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      border: 1px solid rgba(219, 105, 0, 1);
      border-radius: 4px;
      cursor: pointer;
      p {
        font-size: 13px;
        font-family: @font;
        color: rgba(219, 105, 0, 1);
        font-weight: 600;
      }
    }
  }
}
