.container585_600 {
  width: 100%;
  background-color: #080808;
  padding: 20px;
  display: flex;
  border-radius: 30px;
}
.container585_600 .imageContainer {
  min-width: 209px;
}
.container585_600 .imageContainer img {
  width: 209px;
  height: 202px;
  object-fit: contain;
}
.container585_600 .infoCard {
  display: flex;
  flex-direction: column;
  margin-left: 26px;
  width: 278px;
}
.container585_600 .infoCard .headerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container585_600 .infoCard .headerCard .catalogButton {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.container585_600 .infoCard .headerCard .catalogButton p {
  font-size: 20px;
  color: #db6900;
  font-family: montserrat;
  font-weight: 500;
  text-decoration: underline;
}
.container585_600 .infoCard .headerCard .catalogButton img {
  height: 30px;
}
.container585_600 .infoCard .headerCard .settingsProductButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
}
.container585_600 .infoCard .nameProductText {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-family: montserrat;
  font-weight: 600;
}
.container585_600 .infoCard .modelNameText {
  color: white;
  font-size: 20px;
  font-family: montserrat;
  font-weight: 500;
}
.container585_600 .infoCard .countProductText {
  color: white;
  font-size: 20px;
  font-family: montserrat;
  font-weight: 500;
}
.container585_600 .infoCard .sizeText {
  font-family: montserrat;
  font-weight: 500;
  font-size: 20px;
  color: #9b9b9b;
}
.container585_600 .infoCard .sizeText span {
  color: white;
}
.container585_600 .infoCard .counterProduct {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container585_600 .infoCard .counterProduct p {
  color: white;
  font-size: 20px;
  font-family: montserrat;
  font-weight: 500;
  width: 30px;
  text-align: center;
}
.container585_600 .infoCard .counterProduct .buttonLock {
  background-color: #939393;
  cursor: no-drop;
}
.container585_600 .infoCard .counterProduct .buttonUnlock {
  cursor: pointer;
  background-color: #db6900;
}
.container585_600 .infoCard .counterProduct .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 3px;
}
.container585_600 .infoCard .costsView {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  align-items: end;
}
.container585_600 .infoCard .costsView .priceText {
  font-size: 23px;
  font-family: montserrat;
  font-weight: 600;
  color: #db6900;
}
.container585_600 .infoCard .costsView .oldPriceText {
  font-size: 21px;
  font-weight: 500;
  font-family: montserrat;
  color: #9b9b9b;
  text-decoration: line-through;
}
.container585_600 .infoCard .buyButton {
  height: 45px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 1px solid #db6900;
  border-radius: 4px;
  cursor: pointer;
}
.container585_600 .infoCard .buyButton p {
  font-size: 20px;
  font-family: montserrat;
  color: #db6900;
  font-weight: 600;
}
.container565_585 {
  width: 100%;
  background-color: #080808;
  padding: 20px;
  display: flex;
  border-radius: 30px;
}
.container565_585 .imageContainer {
  min-width: 204px;
}
.container565_585 .imageContainer img {
  width: 204px;
  height: 197px;
  object-fit: contain;
}
.container565_585 .infoCard {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  width: 278px;
}
.container565_585 .infoCard .headerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container565_585 .infoCard .headerCard .catalogButton {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.container565_585 .infoCard .headerCard .catalogButton p {
  font-size: 19px;
  color: #db6900;
  font-family: montserrat;
  font-weight: 500;
  text-decoration: underline;
}
.container565_585 .infoCard .headerCard .catalogButton img {
  height: 29px;
}
.container565_585 .infoCard .headerCard .settingsProductButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
}
.container565_585 .infoCard .nameProductText {
  margin-top: 10px;
  color: white;
  font-size: 19px;
  font-family: montserrat;
  font-weight: 600;
}
.container565_585 .infoCard .modelNameText {
  color: white;
  font-size: 19px;
  font-family: montserrat;
  font-weight: 500;
}
.container565_585 .infoCard .countProductText {
  color: white;
  font-size: 19px;
  font-family: montserrat;
  font-weight: 500;
}
.container565_585 .infoCard .sizeText {
  font-family: montserrat;
  font-weight: 500;
  font-size: 19px;
  color: #9b9b9b;
}
.container565_585 .infoCard .sizeText span {
  color: white;
}
.container565_585 .infoCard .counterProduct {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container565_585 .infoCard .counterProduct p {
  color: white;
  font-size: 19px;
  font-family: montserrat;
  font-weight: 500;
  width: 30px;
  text-align: center;
}
.container565_585 .infoCard .counterProduct .buttonLock {
  background-color: #939393;
  cursor: no-drop;
}
.container565_585 .infoCard .counterProduct .buttonUnlock {
  cursor: pointer;
  background-color: #db6900;
}
.container565_585 .infoCard .counterProduct .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 3px;
}
.container565_585 .infoCard .costsView {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  align-items: end;
}
.container565_585 .infoCard .costsView .priceText {
  font-size: 21px;
  font-family: montserrat;
  font-weight: 600;
  color: #db6900;
}
.container565_585 .infoCard .costsView .oldPriceText {
  font-size: 20px;
  font-weight: 500;
  font-family: montserrat;
  color: #9b9b9b;
  text-decoration: line-through;
}
.container565_585 .infoCard .buyButton {
  height: 45px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 1px solid #db6900;
  border-radius: 4px;
  cursor: pointer;
}
.container565_585 .infoCard .buyButton p {
  font-size: 19px;
  font-family: montserrat;
  color: #db6900;
  font-weight: 600;
}
.container525_565 {
  width: 100%;
  background-color: #080808;
  padding: 20px;
  display: flex;
  border-radius: 30px;
}
.container525_565 .imageContainer {
  min-width: 189px;
}
.container525_565 .imageContainer img {
  width: 189px;
  height: 182px;
  object-fit: contain;
}
.container525_565 .infoCard {
  display: flex;
  flex-direction: column;
  width: 278px;
  margin-left: 22px;
}
.container525_565 .infoCard .headerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container525_565 .infoCard .headerCard .catalogButton {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.container525_565 .infoCard .headerCard .catalogButton p {
  font-size: 17px;
  color: #db6900;
  font-family: montserrat;
  font-weight: 500;
  text-decoration: underline;
}
.container525_565 .infoCard .headerCard .catalogButton img {
  height: 26px;
}
.container525_565 .infoCard .headerCard .settingsProductButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
}
.container525_565 .infoCard .nameProductText {
  margin-top: 10px;
  color: white;
  font-size: 17px;
  font-family: montserrat;
  font-weight: 600;
}
.container525_565 .infoCard .modelNameText {
  color: white;
  font-size: 17px;
  font-family: montserrat;
  font-weight: 500;
}
.container525_565 .infoCard .countProductText {
  color: white;
  font-size: 17px;
  font-family: montserrat;
  font-weight: 500;
}
.container525_565 .infoCard .sizeText {
  font-family: montserrat;
  font-weight: 500;
  font-size: 17px;
  color: #9b9b9b;
}
.container525_565 .infoCard .sizeText span {
  color: white;
}
.container525_565 .infoCard .counterProduct {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container525_565 .infoCard .counterProduct p {
  color: white;
  font-size: 17px;
  font-family: montserrat;
  font-weight: 500;
  width: 30px;
  text-align: center;
}
.container525_565 .infoCard .counterProduct .buttonLock {
  background-color: #939393;
  cursor: no-drop;
}
.container525_565 .infoCard .counterProduct .buttonUnlock {
  cursor: pointer;
  background-color: #db6900;
}
.container525_565 .infoCard .counterProduct .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 3px;
}
.container525_565 .infoCard .costsView {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  align-items: end;
}
.container525_565 .infoCard .costsView .priceText {
  font-size: 20px;
  font-family: montserrat;
  font-weight: 600;
  color: #db6900;
}
.container525_565 .infoCard .costsView .oldPriceText {
  font-size: 18px;
  font-weight: 500;
  font-family: montserrat;
  color: #9b9b9b;
  text-decoration: line-through;
}
.container525_565 .infoCard .buyButton {
  height: 45px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 1px solid #db6900;
  border-radius: 4px;
  cursor: pointer;
}
.container525_565 .infoCard .buyButton p {
  font-size: 17px;
  font-family: montserrat;
  color: #db6900;
  font-weight: 600;
}
.container485_525 {
  width: 100%;
  background-color: #080808;
  padding: 20px;
  display: flex;
  border-radius: 30px;
}
.container485_525 .imageContainer {
  min-width: 169px;
}
.container485_525 .imageContainer img {
  width: 169px;
  height: 162px;
  object-fit: contain;
}
.container485_525 .infoCard {
  display: flex;
  flex-direction: column;
  width: 278px;
  margin-left: 20px;
}
.container485_525 .infoCard .headerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container485_525 .infoCard .headerCard .catalogButton {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.container485_525 .infoCard .headerCard .catalogButton p {
  font-size: 15px;
  color: #db6900;
  font-family: montserrat;
  font-weight: 500;
  text-decoration: underline;
}
.container485_525 .infoCard .headerCard .catalogButton img {
  height: 23px;
}
.container485_525 .infoCard .headerCard .settingsProductButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
}
.container485_525 .infoCard .nameProductText {
  margin-top: 10px;
  color: white;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 600;
}
.container485_525 .infoCard .modelNameText {
  color: white;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 500;
}
.container485_525 .infoCard .countProductText {
  color: white;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 500;
}
.container485_525 .infoCard .sizeText {
  font-family: montserrat;
  font-weight: 500;
  font-size: 15px;
  color: #9b9b9b;
}
.container485_525 .infoCard .sizeText span {
  color: white;
}
.container485_525 .infoCard .counterProduct {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container485_525 .infoCard .counterProduct p {
  color: white;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 500;
  width: 30px;
  text-align: center;
}
.container485_525 .infoCard .counterProduct .buttonLock {
  background-color: #939393;
  cursor: no-drop;
}
.container485_525 .infoCard .counterProduct .buttonUnlock {
  cursor: pointer;
  background-color: #db6900;
}
.container485_525 .infoCard .counterProduct .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 3px;
}
.container485_525 .infoCard .costsView {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  align-items: end;
}
.container485_525 .infoCard .costsView .priceText {
  font-size: 18px;
  font-family: montserrat;
  font-weight: 600;
  color: #db6900;
}
.container485_525 .infoCard .costsView .oldPriceText {
  font-size: 16px;
  font-weight: 500;
  font-family: montserrat;
  color: #9b9b9b;
  text-decoration: line-through;
}
.container485_525 .infoCard .buyButton {
  height: 45px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 1px solid #db6900;
  border-radius: 4px;
  cursor: pointer;
}
.container485_525 .infoCard .buyButton p {
  font-size: 15px;
  font-family: montserrat;
  color: #db6900;
  font-weight: 600;
}
.container450_485 {
  width: 100%;
  background-color: #080808;
  padding: 20px;
  display: flex;
  border-radius: 30px;
}
.container450_485 .imageContainer {
  min-width: 159px;
}
.container450_485 .imageContainer img {
  width: 159px;
  height: 152px;
  object-fit: contain;
}
.container450_485 .infoCard {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  width: 278px;
}
.container450_485 .infoCard .headerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container450_485 .infoCard .headerCard .catalogButton {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.container450_485 .infoCard .headerCard .catalogButton p {
  font-size: 14px;
  color: #db6900;
  font-family: montserrat;
  font-weight: 500;
  text-decoration: underline;
}
.container450_485 .infoCard .headerCard .catalogButton img {
  height: 21px;
}
.container450_485 .infoCard .headerCard .settingsProductButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
}
.container450_485 .infoCard .nameProductText {
  margin-top: 10px;
  color: white;
  font-size: 14px;
  font-family: montserrat;
  font-weight: 600;
}
.container450_485 .infoCard .modelNameText {
  color: white;
  font-size: 14px;
  font-family: montserrat;
  font-weight: 500;
}
.container450_485 .infoCard .countProductText {
  color: white;
  font-size: 14px;
  font-family: montserrat;
  font-weight: 500;
}
.container450_485 .infoCard .sizeText {
  font-family: montserrat;
  font-weight: 500;
  font-size: 14px;
  color: #9b9b9b;
}
.container450_485 .infoCard .sizeText span {
  color: white;
}
.container450_485 .infoCard .counterProduct {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container450_485 .infoCard .counterProduct p {
  color: white;
  font-size: 14px;
  font-family: montserrat;
  font-weight: 500;
  width: 30px;
  text-align: center;
}
.container450_485 .infoCard .counterProduct .buttonLock {
  background-color: #939393;
  cursor: no-drop;
}
.container450_485 .infoCard .counterProduct .buttonUnlock {
  cursor: pointer;
  background-color: #db6900;
}
.container450_485 .infoCard .counterProduct .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 3px;
}
.container450_485 .infoCard .costsView {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  align-items: end;
}
.container450_485 .infoCard .costsView .priceText {
  font-size: 17px;
  font-family: montserrat;
  font-weight: 600;
  color: #db6900;
}
.container450_485 .infoCard .costsView .oldPriceText {
  font-size: 15px;
  font-weight: 500;
  font-family: montserrat;
  color: #9b9b9b;
  text-decoration: line-through;
}
.container450_485 .infoCard .buyButton {
  height: 45px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 1px solid #db6900;
  border-radius: 4px;
  cursor: pointer;
}
.container450_485 .infoCard .buyButton p {
  font-size: 14px;
  font-family: montserrat;
  color: #db6900;
  font-weight: 600;
}
.container410_450 {
  width: 100%;
  background-color: #080808;
  padding: 20px;
  display: flex;
  border-radius: 30px;
}
.container410_450 .imageContainer {
  min-width: 144px;
}
.container410_450 .imageContainer img {
  width: 144px;
  height: 142px;
  object-fit: contain;
}
.container410_450 .infoCard {
  display: flex;
  flex-direction: column;
  width: 278px;
  margin-left: 16px;
}
.container410_450 .infoCard .headerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container410_450 .infoCard .headerCard .catalogButton {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.container410_450 .infoCard .headerCard .catalogButton p {
  font-size: 13px;
  color: #db6900;
  font-family: montserrat;
  font-weight: 500;
  text-decoration: underline;
}
.container410_450 .infoCard .headerCard .catalogButton img {
  height: 20px;
}
.container410_450 .infoCard .headerCard .settingsProductButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
}
.container410_450 .infoCard .nameProductText {
  margin-top: 10px;
  color: white;
  font-size: 13px;
  font-family: montserrat;
  font-weight: 600;
}
.container410_450 .infoCard .modelNameText {
  color: white;
  font-size: 13px;
  font-family: montserrat;
  font-weight: 500;
}
.container410_450 .infoCard .countProductText {
  color: white;
  font-size: 13px;
  font-family: montserrat;
  font-weight: 500;
}
.container410_450 .infoCard .sizeText {
  font-family: montserrat;
  font-weight: 500;
  font-size: 13px;
  color: #9b9b9b;
}
.container410_450 .infoCard .sizeText span {
  color: white;
}
.container410_450 .infoCard .counterProduct {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container410_450 .infoCard .counterProduct p {
  color: white;
  font-size: 13px;
  font-family: montserrat;
  font-weight: 500;
  width: 30px;
  text-align: center;
}
.container410_450 .infoCard .counterProduct .buttonLock {
  background-color: #939393;
  cursor: no-drop;
}
.container410_450 .infoCard .counterProduct .buttonUnlock {
  cursor: pointer;
  background-color: #db6900;
}
.container410_450 .infoCard .counterProduct .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
.container410_450 .infoCard .costsView {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  align-items: end;
}
.container410_450 .infoCard .costsView .priceText {
  font-size: 16px;
  font-family: montserrat;
  font-weight: 600;
  color: #db6900;
}
.container410_450 .infoCard .costsView .oldPriceText {
  font-size: 14px;
  font-weight: 500;
  font-family: montserrat;
  color: #9b9b9b;
  text-decoration: line-through;
}
.container410_450 .infoCard .buyButton {
  height: 45px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 1px solid #db6900;
  border-radius: 4px;
  cursor: pointer;
}
.container410_450 .infoCard .buyButton p {
  font-size: 13px;
  font-family: montserrat;
  color: #db6900;
  font-weight: 600;
}
.container375_410 {
  width: 100%;
  background-color: #080808;
  padding: 15px;
  display: flex;
  border-radius: 30px;
}
.container375_410 .imageContainer {
  min-width: 129px;
}
.container375_410 .imageContainer img {
  width: 129px;
  height: 152px;
  object-fit: contain;
}
.container375_410 .infoCard {
  display: flex;
  flex-direction: column;
  width: 278px;
  margin-left: 10px;
}
.container375_410 .infoCard .headerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container375_410 .infoCard .headerCard .catalogButton {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.container375_410 .infoCard .headerCard .catalogButton p {
  font-size: 13px;
  color: #db6900;
  font-family: montserrat;
  font-weight: 500;
  text-decoration: underline;
}
.container375_410 .infoCard .headerCard .catalogButton img {
  height: 20px;
}
.container375_410 .infoCard .headerCard .settingsProductButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
}
.container375_410 .infoCard .nameProductText {
  margin-top: 10px;
  color: white;
  font-size: 13px;
  font-family: montserrat;
  font-weight: 600;
}
.container375_410 .infoCard .modelNameText {
  color: white;
  font-size: 13px;
  font-family: montserrat;
  font-weight: 500;
}
.container375_410 .infoCard .countProductText {
  color: white;
  font-size: 13px;
  font-family: montserrat;
  font-weight: 500;
}
.container375_410 .infoCard .sizeText {
  font-family: montserrat;
  font-weight: 500;
  font-size: 13px;
  color: #9b9b9b;
}
.container375_410 .infoCard .sizeText span {
  color: white;
}
.container375_410 .infoCard .counterProduct {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.container375_410 .infoCard .counterProduct p {
  color: white;
  font-size: 13px;
  font-family: montserrat;
  font-weight: 500;
  width: 30px;
  text-align: center;
}
.container375_410 .infoCard .counterProduct .buttonLock {
  background-color: #939393;
  cursor: no-drop;
}
.container375_410 .infoCard .counterProduct .buttonUnlock {
  cursor: pointer;
  background-color: #db6900;
}
.container375_410 .infoCard .counterProduct .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 3px;
}
.container375_410 .infoCard .costsView {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  align-items: end;
}
.container375_410 .infoCard .costsView .priceText {
  font-size: 16px;
  font-family: montserrat;
  font-weight: 600;
  color: #db6900;
}
.container375_410 .infoCard .costsView .oldPriceText {
  font-size: 14px;
  font-weight: 500;
  font-family: montserrat;
  color: #9b9b9b;
  text-decoration: line-through;
}
.container375_410 .infoCard .buyButton {
  height: 45px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 1px solid #db6900;
  border-radius: 4px;
  cursor: pointer;
}
.container375_410 .infoCard .buyButton p {
  font-size: 13px;
  font-family: montserrat;
  color: #db6900;
  font-weight: 600;
}
