@font: TTForsTrialVariable;

.container585_600 {
  margin-top: 20px;
  .imageContainer {
    position: relative;
  }
  .imageProduct {
    object-fit: cover;
    border-radius: 28px;
    min-width: 180px;
    height: 230px;
    cursor: pointer;
  }
  .favouriteButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12px;
    top: 12px;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    img {
      width: 20px;
      height: 18px;
    }
  }

  .countProductText {
    color: rgba(255, 255, 255, 1);
    font-size: 21px;
    font-weight: 500;
    margin-top: 15px;
    font-family: @font;
  }
  .priceField {
    display: flex;
    align-items: center;
    gap: 8px;
    .priceText {
      color: rgba(219, 105, 0, 1);
      font-size: 24px;
      font-weight: 600;
      font-family: @font;
    }
    .oldPriceText {
      color: rgba(155, 155, 155, 1);
      text-decoration: line-through;
      font-size: 24px;
      font-weight: 500;
      font-family: @font;
    }
  }
  .brandNameText {
    color: white;
    font-size: 21px;
    font-weight: 500;
    font-family: @font;
  }
  .modelNameText {
    color: white;
    font-size: 21px;
    font-weight: 500;
    font-family: @font;
  }
  .addButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 48px;
    background-color: rgba(219, 105, 0, 1);
    border-radius: 152px;
    margin-top: 5px;
    cursor: pointer;
    .addButtonText {
      font-size: 18px;
      font-weight: 600;
      color: white;
      font-family: @font;
    }
    .shopIcon {
      width: 35px;
    }
  }
}

.container565_585 {
  margin-top: 20px;
  .imageContainer {
    position: relative;
  }
  .imageProduct {
    object-fit: cover;
    border-radius: 28px;
    min-width: 180px;
    height: 230px;
    cursor: pointer;
  }
  .favouriteButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12px;
    top: 12px;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    img {
      width: 20px;
      height: 18px;
    }
  }

  .countProductText {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    font-family: @font;
  }
  .priceField {
    display: flex;
    align-items: center;
    gap: 8px;
    .priceText {
      color: rgba(219, 105, 0, 1);
      font-size: 23px;
      font-weight: 600;
      font-family: @font;
    }
    .oldPriceText {
      color: rgba(155, 155, 155, 1);
      text-decoration: line-through;
      font-size: 23px;
      font-weight: 500;
      font-family: @font;
    }
  }
  .brandNameText {
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: @font;
  }
  .modelNameText {
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: @font;
  }
  .addButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 48px;
    background-color: rgba(219, 105, 0, 1);
    border-radius: 152px;
    margin-top: 5px;
    cursor: pointer;
    .addButtonText {
      font-size: 17px;
      font-weight: 600;
      color: white;
      font-family: @font;
    }
    .shopIcon {
      width: 34px;
    }
  }
}
.container525_565 {
  margin-top: 20px;
  .imageContainer {
    position: relative;
  }
  .imageProduct {
    object-fit: cover;
    border-radius: 28px;
    min-width: 180px;
    height: 230px;
    cursor: pointer;
  }
  .favouriteButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12px;
    top: 12px;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    img {
      width: 20px;
      height: 18px;
    }
  }

  .countProductText {
    color: rgba(255, 255, 255, 1);
    font-size: 19px;
    font-weight: 500;
    margin-top: 15px;
    font-family: @font;
  }
  .priceField {
    display: flex;
    align-items: center;
    gap: 8px;
    .priceText {
      color: rgba(219, 105, 0, 1);
      font-size: 22px;
      font-weight: 600;
      font-family: @font;
    }
    .oldPriceText {
      color: rgba(155, 155, 155, 1);
      text-decoration: line-through;
      font-size: 22px;
      font-weight: 500;
      font-family: @font;
    }
  }
  .brandNameText {
    color: white;
    font-size: 19px;
    font-weight: 500;
    font-family: @font;
  }
  .modelNameText {
    color: white;
    font-size: 19px;
    font-weight: 500;
    font-family: @font;
  }
  .addButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 48px;
    background-color: rgba(219, 105, 0, 1);
    border-radius: 152px;
    margin-top: 5px;
    cursor: pointer;
    .addButtonText {
      font-size: 16px;
      font-weight: 600;
      color: white;
      font-family: @font;
    }
    .shopIcon {
      width: 33px;
    }
  }
}
.container485_525 {
  margin-top: 20px;
  .imageContainer {
    position: relative;
  }
  .imageProduct {
    object-fit: cover;
    border-radius: 28px;
    min-width: 180px;
    height: 230px;
    cursor: pointer;
  }
  .favouriteButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12px;
    top: 12px;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    img {
      width: 20px;
      height: 18px;
    }
  }

  .countProductText {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    font-family: @font;
  }
  .priceField {
    display: flex;
    align-items: center;
    gap: 8px;
    .priceText {
      color: rgba(219, 105, 0, 1);
      font-size: 21px;
      font-weight: 600;
      font-family: @font;
    }
    .oldPriceText {
      color: rgba(155, 155, 155, 1);
      text-decoration: line-through;
      font-size: 21px;
      font-weight: 500;
      font-family: @font;
    }
  }
  .brandNameText {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: @font;
  }
  .modelNameText {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: @font;
  }
  .addButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 48px;
    background-color: rgba(219, 105, 0, 1);
    border-radius: 152px;
    margin-top: 5px;
    cursor: pointer;
    .addButtonText {
      font-size: 15px;
      font-weight: 600;
      color: white;
      font-family: @font;
    }
    .shopIcon {
      width: 32px;
    }
  }
}
.container450_485 {
  margin-top: 20px;
  .imageContainer {
    position: relative;
  }
  .imageProduct {
    object-fit: cover;
    border-radius: 28px;
    min-width: 180px;
    height: 230px;
    cursor: pointer;
  }
  .favouriteButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12px;
    top: 12px;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    img {
      width: 20px;
      height: 18px;
    }
  }

  .countProductText {
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    font-weight: 500;
    margin-top: 15px;
    font-family: @font;
  }
  .priceField {
    display: flex;
    align-items: center;
    gap: 8px;
    .priceText {
      color: rgba(219, 105, 0, 1);
      font-size: 20px;
      font-weight: 600;
      font-family: @font;
    }
    .oldPriceText {
      color: rgba(155, 155, 155, 1);
      text-decoration: line-through;
      font-size: 20px;
      font-weight: 500;
      font-family: @font;
    }
  }
  .brandNameText {
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: @font;
  }
  .modelNameText {
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: @font;
  }
  .addButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 48px;
    background-color: rgba(219, 105, 0, 1);
    border-radius: 152px;
    margin-top: 5px;
    cursor: pointer;
    .addButtonText {
      font-size: 14px;
      font-weight: 600;
      color: white;
      font-family: @font;
    }
    .shopIcon {
      width: 31px;
    }
  }
}
.container410_450 {
  margin-top: 20px;
  .imageContainer {
    position: relative;
  }
  .imageProduct {
    object-fit: cover;
    border-radius: 28px;
    min-width: 180px;
    height: 230px;
    cursor: pointer;
  }
  .favouriteButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12px;
    top: 12px;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    img {
      width: 20px;
      height: 18px;
    }
  }

  .countProductText {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    font-family: @font;
  }
  .priceField {
    display: flex;
    align-items: center;
    gap: 8px;
    .priceText {
      color: rgba(219, 105, 0, 1);
      font-size: 19px;
      font-weight: 600;
      font-family: @font;
    }
    .oldPriceText {
      color: rgba(155, 155, 155, 1);
      text-decoration: line-through;
      font-size: 19px;
      font-weight: 500;
      font-family: @font;
    }
  }
  .brandNameText {
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: @font;
  }
  .modelNameText {
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: @font;
  }
  .addButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 48px;
    background-color: rgba(219, 105, 0, 1);
    border-radius: 152px;
    margin-top: 5px;
    cursor: pointer;
    .addButtonText {
      font-size: 13px;
      font-weight: 600;
      color: white;
      font-family: @font;
    }
    .shopIcon {
      width: 30px;
    }
  }
}
.container375_410 {
  margin-top: 20px;
  .imageContainer {
    position: relative;
  }
  .imageProduct {
    object-fit: cover;
    border-radius: 28px;
    min-width: 180px;
    height: 230px;
    cursor: pointer;
  }
  .favouriteButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12px;
    top: 12px;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    img {
      width: 20px;
      height: 18px;
    }
  }

  .countProductText {
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
    font-family: @font;
  }
  .priceField {
    display: flex;
    align-items: center;
    gap: 8px;
    .priceText {
      color: rgba(219, 105, 0, 1);
      font-size: 18px;
      font-weight: 600;
      font-family: @font;
    }
    .oldPriceText {
      color: rgba(155, 155, 155, 1);
      text-decoration: line-through;
      font-size: 18px;
      font-weight: 500;
      font-family: @font;
    }
  }
  .brandNameText {
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: @font;
  }
  .modelNameText {
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: @font;
  }
  .addButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 48px;
    background-color: rgba(219, 105, 0, 1);
    border-radius: 152px;
    margin-top: 5px;
    cursor: pointer;
    .addButtonText {
      font-size: 14px;
      font-weight: 600;
      color: white;
      font-family: @font;
    }
    .shopIcon {
      width: 29px;
    }
  }
}
