.container585_600 {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 27px;
}
.container585_600 .headerText {
  font-size: 22px;
  font-family: montserrat;
  font-weight: 600;
  color: #1d1d1d;
}
.container585_600 .mainText {
  font-size: 21px;
  font-family: montserrat;
  font-weight: 500;
  color: #1d1d1d;
}
.container585_600 .buttonText {
  width: max-content;
  cursor: pointer;
  margin-top: 4px;
  font-size: 21px;
  font-family: montserrat;
  font-weight: 600;
  color: #ff7511;
}
.container565_585 {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 27px;
}
.container565_585 .headerText {
  font-size: 21px;
  font-family: montserrat;
  font-weight: 600;
  color: #1d1d1d;
}
.container565_585 .mainText {
  font-size: 20px;
  font-family: montserrat;
  font-weight: 500;
  color: #1d1d1d;
}
.container565_585 .buttonText {
  width: max-content;
  cursor: pointer;
  margin-top: 4px;
  font-size: 20px;
  font-family: montserrat;
  font-weight: 600;
  color: #ff7511;
}
.container525_565 {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 27px;
}
.container525_565 .headerText {
  font-size: 20px;
  font-family: montserrat;
  font-weight: 600;
  color: #1d1d1d;
}
.container525_565 .mainText {
  font-size: 18px;
  font-family: montserrat;
  font-weight: 500;
  color: #1d1d1d;
}
.container525_565 .buttonText {
  width: max-content;
  cursor: pointer;
  margin-top: 4px;
  font-size: 18px;
  font-family: montserrat;
  font-weight: 600;
  color: #ff7511;
}
.container485_525 {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 27px;
}
.container485_525 .headerText {
  font-size: 18px;
  font-family: montserrat;
  font-weight: 600;
  color: #1d1d1d;
}
.container485_525 .mainText {
  font-size: 16px;
  font-family: montserrat;
  font-weight: 500;
  color: #1d1d1d;
}
.container485_525 .buttonText {
  width: max-content;
  cursor: pointer;
  margin-top: 4px;
  font-size: 16px;
  font-family: montserrat;
  font-weight: 600;
  color: #ff7511;
}
.container450_485 {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 27px;
}
.container450_485 .headerText {
  font-size: 17px;
  font-family: montserrat;
  font-weight: 600;
  color: #1d1d1d;
}
.container450_485 .mainText {
  font-size: 15px;
  font-family: montserrat;
  font-weight: 500;
  color: #1d1d1d;
}
.container450_485 .buttonText {
  width: max-content;
  cursor: pointer;
  margin-top: 4px;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 600;
  color: #ff7511;
}
.container410_450 {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 27px;
}
.container410_450 .headerText {
  font-size: 15px;
  font-family: montserrat;
  font-weight: 600;
  color: #1d1d1d;
}
.container410_450 .mainText {
  font-size: 14px;
  font-family: montserrat;
  font-weight: 500;
  color: #1d1d1d;
}
.container410_450 .buttonText {
  width: max-content;
  cursor: pointer;
  margin-top: 4px;
  font-size: 14px;
  font-family: montserrat;
  font-weight: 600;
  color: #ff7511;
}
.container375_410 {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 27px;
}
.container375_410 .headerText {
  font-size: 15px;
  font-family: montserrat;
  font-weight: 600;
  color: #1d1d1d;
}
.container375_410 .mainText {
  font-size: 14px;
  font-family: montserrat;
  font-weight: 500;
  color: #1d1d1d;
}
.container375_410 .buttonText {
  width: max-content;
  cursor: pointer;
  margin-top: 4px;
  font-size: 14px;
  font-family: montserrat;
  font-weight: 600;
  color: #ff7511;
}
