.container585_600 {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 27px;
  .headerText {
    font-size: 22px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(29, 29, 29, 1);
  }
  .mainText {
    font-size: 21px;
    font-family: TTForsTrialVariable;
    font-weight: 500;
    color: rgba(29, 29, 29, 1);
  }
  .buttonText {
    width: max-content;
    cursor: pointer;
    margin-top: 4px;
    font-size: 21px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(255, 117, 17, 1);
  }
}

.container565_585 {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 27px;
  .headerText {
    font-size: 21px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(29, 29, 29, 1);
  }
  .mainText {
    font-size: 20px;
    font-family: TTForsTrialVariable;
    font-weight: 500;
    color: rgba(29, 29, 29, 1);
  }
  .buttonText {
    width: max-content;
    cursor: pointer;
    margin-top: 4px;
    font-size: 20px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(255, 117, 17, 1);
  }
}

.container525_565 {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 27px;
  .headerText {
    font-size: 20px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(29, 29, 29, 1);
  }
  .mainText {
    font-size: 18px;
    font-family: TTForsTrialVariable;
    font-weight: 500;
    color: rgba(29, 29, 29, 1);
  }
  .buttonText {
    width: max-content;
    cursor: pointer;
    margin-top: 4px;
    font-size: 18px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(255, 117, 17, 1);
  }
}

.container485_525 {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 27px;
  .headerText {
    font-size: 18px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(29, 29, 29, 1);
  }
  .mainText {
    font-size: 16px;
    font-family: TTForsTrialVariable;
    font-weight: 500;
    color: rgba(29, 29, 29, 1);
  }
  .buttonText {
    width: max-content;
    cursor: pointer;
    margin-top: 4px;
    font-size: 16px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(255, 117, 17, 1);
  }
}

.container450_485 {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 27px;
  .headerText {
    font-size: 17px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(29, 29, 29, 1);
  }
  .mainText {
    font-size: 15px;
    font-family: TTForsTrialVariable;
    font-weight: 500;
    color: rgba(29, 29, 29, 1);
  }
  .buttonText {
    width: max-content;
    cursor: pointer;
    margin-top: 4px;
    font-size: 15px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(255, 117, 17, 1);
  }
}

.container410_450 {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 27px;
  .headerText {
    font-size: 15px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(29, 29, 29, 1);
  }
  .mainText {
    font-size: 14px;
    font-family: TTForsTrialVariable;
    font-weight: 500;
    color: rgba(29, 29, 29, 1);
  }
  .buttonText {
    width: max-content;
    cursor: pointer;
    margin-top: 4px;
    font-size: 14px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(255, 117, 17, 1);
  }
}

.container375_410 {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 27px;
  .headerText {
    font-size: 15px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(29, 29, 29, 1);
  }
  .mainText {
    font-size: 14px;
    font-family: TTForsTrialVariable;
    font-weight: 500;
    color: rgba(29, 29, 29, 1);
  }
  .buttonText {
    width: max-content;
    cursor: pointer;
    margin-top: 4px;
    font-size: 14px;
    font-family: TTForsTrialVariable;
    font-weight: 600;
    color: rgba(255, 117, 17, 1);
  }
}
