.button {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 5px 0 5px;
}
.button img {
  height: 41px;
}
.button .buttonText {
  font-size: 21px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  text-align: center;
}
.activeButton {
  background-color: #1c1c1c;
  cursor: pointer;
  color: #f1f1f1;
}
.unActiveButton {
  background-color: #0c0c0c;
  cursor: help;
  color: #9b9b9b;
}
.modalView .closeButton {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.modalView .mainText {
  color: #f1f1f1;
  text-align: center;
  padding: 0 38px 0 38px;
  font-size: 22px;
  font-family: TTForsTrialVariable;
  font-weight: 600;
  line-height: 28px;
}
.modalView .mainText span {
  color: #e36e00;
}
.modalView .aboutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  gap: 8px;
  cursor: pointer;
}
.modalView .aboutButton p {
  color: #7a7a7a;
}
.modalView .aboutButton img {
  height: 30px;
}
