.container585_600 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container585_600 .nameText {
  color: #f1f1f1;
  font-size: 21px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container585_600 .buttonsBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 12px;
  gap: 12px;
}
.container585_600 .buttonsBlock .button {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.container585_600 .buttonsBlock .button img {
  height: 41px;
}
.container585_600 .buttonsBlock .button .buttonText {
  font-size: 21px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
.container585_600 .buttonsBlock .activeButton {
  background-color: #1c1c1c;
  cursor: pointer;
  color: #f1f1f1;
}
.container585_600 .buttonsBlock .unActiveButton {
  background-color: #0c0c0c;
  cursor: help;
  color: #9b9b9b;
}
.container565_585 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container565_585 .nameText {
  color: #f1f1f1;
  font-size: 20px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container565_585 .buttonsBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 12px;
  gap: 12px;
}
.container565_585 .buttonsBlock .button {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.container565_585 .buttonsBlock .button img {
  height: 30px;
}
.container565_585 .buttonsBlock .button .buttonText {
  font-size: 20px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
.container565_585 .buttonsBlock .activeButton {
  background-color: #1c1c1c;
  cursor: pointer;
  color: #f1f1f1;
}
.container565_585 .buttonsBlock .unActiveButton {
  background-color: #0c0c0c;
  cursor: help;
  color: #9b9b9b;
}
.container525_565 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container525_565 .nameText {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container525_565 .buttonsBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 12px;
  gap: 12px;
}
.container525_565 .buttonsBlock .button {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.container525_565 .buttonsBlock .button img {
  height: 27px;
}
.container525_565 .buttonsBlock .button .buttonText {
  font-size: 18px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
.container525_565 .buttonsBlock .activeButton {
  background-color: #1c1c1c;
  cursor: pointer;
  color: #f1f1f1;
}
.container525_565 .buttonsBlock .unActiveButton {
  background-color: #0c0c0c;
  cursor: help;
  color: #9b9b9b;
}
.container485_525 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container485_525 .nameText {
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container485_525 .buttonsBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 12px;
  gap: 12px;
}
.container485_525 .buttonsBlock .button {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.container485_525 .buttonsBlock .button img {
  height: 24px;
}
.container485_525 .buttonsBlock .buttonText {
  font-size: 16px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  text-align: center;
}
.container485_525 .buttonsBlock .activeButton {
  background-color: #1c1c1c;
  cursor: pointer;
  color: #f1f1f1;
}
.container485_525 .buttonsBlock .unActiveButton {
  background-color: #0c0c0c;
  cursor: help;
  color: #9b9b9b;
}
.container450_485 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container450_485 .nameText {
  color: #f1f1f1;
  font-size: 15px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container450_485 .buttonsBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 12px;
  gap: 12px;
}
.container450_485 .buttonsBlock .button {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.container450_485 .buttonsBlock .button img {
  height: 23px;
}
.container450_485 .buttonsBlock .buttonText {
  font-size: 15px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  text-align: center;
}
.container450_485 .buttonsBlock .activeButton {
  background-color: #1c1c1c;
  cursor: pointer;
  color: #f1f1f1;
}
.container450_485 .buttonsBlock .unActiveButton {
  background-color: #0c0c0c;
  cursor: help;
  color: #9b9b9b;
}
.container410_450 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container410_450 .nameText {
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container410_450 .buttonsBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 12px;
  gap: 12px;
}
.container410_450 .buttonsBlock .button {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.container410_450 .buttonsBlock .button img {
  height: 21px;
}
.container410_450 .buttonsBlock .buttonText {
  font-size: 14px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  text-align: center;
}
.container410_450 .buttonsBlock .activeButton {
  background-color: #1c1c1c;
  cursor: pointer;
  color: #f1f1f1;
}
.container410_450 .buttonsBlock .unActiveButton {
  background-color: #0c0c0c;
  cursor: help;
  color: #9b9b9b;
}
.container375_410 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container375_410 .nameText {
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container375_410 .buttonsBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 12px;
  gap: 12px;
}
.container375_410 .buttonsBlock .button {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 5px 0 5px;
}
.container375_410 .buttonsBlock .button img {
  height: 21px;
}
.container375_410 .buttonsBlock .buttonText {
  font-size: 14px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  text-align: center;
}
.container375_410 .buttonsBlock .activeButton {
  background-color: #1c1c1c;
  cursor: pointer;
  color: #f1f1f1;
}
.container375_410 .buttonsBlock .unActiveButton {
  background-color: #0c0c0c;
  cursor: help;
  color: #9b9b9b;
}
