.container {
  padding: 30px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container .nameText {
  color: #f1f1f1;
  font-size: 21px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container .buttonsBlock {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 12px;
}
.container .buttonsBlock .buttonsRow {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.container .buttonsBlock .buttonsRow .button {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 10px 0 10px;
}
.container .buttonsBlock .buttonsRow .activeButton {
  background-color: #1c1c1c;
  cursor: pointer;
  color: #f1f1f1;
}
.container .buttonsBlock .buttonsRow .unActiveButton {
  background-color: #0c0c0c;
  cursor: help;
  color: #9b9b9b;
}
.container .buttonsBlock .buttonsRow .buttonText {
  font-size: 21px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
@media (max-width: 570px) {
  .container .buttonsBlock .buttonsRow .buttonText {
    font-size: 18px;
  }
}
@media (max-width: 510px) {
  .container .buttonsBlock .buttonsRow .buttonText {
    font-size: 16px;
  }
}
@media (max-width: 475px) {
  .container .buttonsBlock .buttonsRow .buttonText {
    font-size: 14px;
  }
}
@media (max-width: 435px) {
  .container .buttonsBlock .buttonsRow .buttonText {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .container .buttonsBlock .buttonsRow .buttonText {
    font-size: 10px;
  }
}
