.container585_600 {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  .header {
    display: flex;
    align-self: center;
    width: 100%;
    height: 165px;
    background-color: rgba(219, 105, 0, 1);
    .backButton {
      cursor: pointer;
      margin-top: 102px;
      margin-left: 24px;
      min-width: 14px;
    }
    .searchField {
      border: none;
      width: 100%;
      padding: 0;
      margin-top: 94px;
      margin-left: 22px;
      input {
        width: 100%;
        background-image: url("../../images/search_icon.svg");
        background-repeat: no-repeat;
        background-position: 23px center;
        padding-left: 42px;
        border-radius: 13px;
        height: 45px;
      }
    }
    .sortButton {
      cursor: pointer;
      margin-left: 22px;
      margin-top: 105px;
      min-width: 36px;
    }
    .filterButton {
      cursor: pointer;
      margin-left: 18px;
      margin-top: 105px;
      margin-right: 30px;
      min-width: 30px;
    }
  }

  .cateroriesField {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    gap: 25px;
    padding-right: 25px;
  }

  .productsField {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 33px;
    margin-bottom: 120px;
    .productRow {
      display: flex;
      justify-content: space-between;
      margin: 0 20px 0 20px;
    }
  }
}

.container565_585 {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  .header {
    display: flex;
    align-self: center;
    width: 100%;
    height: 165px;
    background-color: rgba(219, 105, 0, 1);
    .backButton {
      cursor: pointer;
      margin-top: 105px;
      margin-left: 24px;
      min-width: 13px;
    }
    .searchField {
      border: none;
      width: 100%;
      padding: 0;
      margin-top: 94px;
      margin-left: 22px;
      input {
        width: 100%;
        background-image: url("../../images/search_icon.svg");
        background-repeat: no-repeat;
        background-position: 23px center;
        padding-left: 42px;
        border-radius: 13px;
        height: 45px;
      }
    }
    .sortButton {
      cursor: pointer;
      margin-left: 22px;
      margin-top: 105px;
      min-width: 34px;
    }
    .filterButton {
      cursor: pointer;
      margin-left: 18px;
      margin-top: 105px;
      margin-right: 30px;
      min-width: 28px;
    }
  }

  .cateroriesField {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    gap: 22px;
    padding-right: 25px;
  }

  .productsField {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 33px;
    margin-bottom: 120px;
    .productRow {
      display: flex;
      justify-content: space-between;
      margin: 0 18px 0 18px;
    }
  }
}

.container525_565 {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  .header {
    display: flex;
    align-self: center;
    width: 100%;
    height: 165px;
    background-color: rgba(219, 105, 0, 1);
    .backButton {
      cursor: pointer;
      margin-top: 105px;
      margin-left: 24px;
      min-width: 12px;
    }
    .searchField {
      border: none;
      width: 100%;
      padding: 0;
      margin-top: 94px;
      margin-left: 22px;
      input {
        width: 100%;
        background-image: url("../../images/search_icon.svg");
        background-repeat: no-repeat;
        background-position: 23px center;
        padding-left: 42px;
        border-radius: 13px;
        height: 45px;
      }
    }
    .sortButton {
      cursor: pointer;
      margin-left: 22px;
      margin-top: 105px;
      min-width: 34px;
    }
    .filterButton {
      cursor: pointer;
      margin-left: 18px;
      margin-top: 105px;
      margin-right: 30px;
      min-width: 28px;
    }
  }

  .cateroriesField {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    gap: 19px;
    padding-right: 25px;
  }

  .productsField {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 33px;
    margin-bottom: 120px;
    .productRow {
      display: flex;
      justify-content: space-between;
      margin: 0 16px 0 16px;
    }
  }
}
.container485_525 {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  .header {
    display: flex;
    align-self: center;
    width: 100%;
    height: 165px;
    background-color: rgba(219, 105, 0, 1);
    .backButton {
      cursor: pointer;
      margin-top: 105px;
      margin-left: 24px;
      min-width: 12px;
    }
    .searchField {
      border: none;
      width: 100%;
      padding: 0;
      margin-top: 94px;
      margin-left: 22px;
      input {
        width: 100%;
        background-image: url("../../images/search_icon.svg");
        background-repeat: no-repeat;
        background-position: 23px center;
        padding-left: 42px;
        border-radius: 13px;
        height: 45px;
      }
    }
    .sortButton {
      cursor: pointer;
      margin-left: 22px;
      margin-top: 105px;
      min-width: 32px;
    }
    .filterButton {
      cursor: pointer;
      margin-left: 18px;
      margin-top: 105px;
      margin-right: 30px;
      min-width: 26px;
    }
  }

  .cateroriesField {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    gap: 16px;
    padding-right: 25px;
  }

  .productsField {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 33px;
    margin-bottom: 120px;
    .productRow {
      display: flex;
      justify-content: space-between;
      margin: 0 14px 0 14px;
    }
  }
}

.container450_485 {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  .header {
    display: flex;
    align-self: center;
    width: 100%;
    height: 165px;
    background-color: rgba(219, 105, 0, 1);
    .backButton {
      cursor: pointer;
      margin-top: 105px;
      margin-left: 24px;
      min-width: 12px;
    }
    .searchField {
      border: none;
      width: 100%;
      padding: 0;
      margin-top: 94px;
      margin-left: 22px;
      input {
        width: 100%;
        background-image: url("../../images/search_icon.svg");
        background-repeat: no-repeat;
        background-position: 23px center;
        padding-left: 42px;
        border-radius: 13px;
        height: 45px;
      }
    }
    .sortButton {
      cursor: pointer;
      margin-left: 22px;
      margin-top: 105px;
      min-width: 30px;
    }
    .filterButton {
      cursor: pointer;
      margin-left: 18px;
      margin-top: 105px;
      margin-right: 30px;
      min-width: 26px;
    }
  }

  .cateroriesField {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    gap: 13px;
    padding-right: 25px;
  }

  .productsField {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 33px;
    margin-bottom: 120px;
    .productRow {
      display: flex;
      justify-content: space-between;
      margin: 0 12px 0 12px;
    }
  }
}

.container410_450 {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  .header {
    display: flex;
    align-self: center;
    width: 100%;
    height: 165px;
    background-color: rgba(219, 105, 0, 1);
    .backButton {
      cursor: pointer;
      margin-top: 107px;
      margin-left: 24px;
      min-width: 10px;
    }
    .searchField {
      border: none;
      width: 100%;
      padding: 0;
      margin-top: 94px;
      margin-left: 22px;
      input {
        width: 100%;
        background-image: url("../../images/search_icon.svg");
        background-repeat: no-repeat;
        background-position: 23px center;
        padding-left: 42px;
        border-radius: 13px;
        height: 45px;
      }
    }
    .sortButton {
      cursor: pointer;
      margin-left: 22px;
      margin-top: 105px;
      min-width: 28px;
    }
    .filterButton {
      cursor: pointer;
      margin-left: 18px;
      margin-top: 105px;
      margin-right: 30px;
      min-width: 24px;
    }
  }

  .cateroriesField {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    gap: 10px;
    padding-right: 25px;
  }

  .productsField {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 33px;
    margin-bottom: 120px;
    .productRow {
      display: flex;
      justify-content: space-between;
      margin: 0 10px 0 10px;
    }
  }
}

.container375_410 {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  .header {
    display: flex;
    align-self: center;
    width: 100%;
    height: 165px;
    background-color: rgba(219, 105, 0, 1);
    .backButton {
      cursor: pointer;
      margin-top: 107px;
      margin-left: 24px;
      min-width: 10px;
    }
    .searchField {
      border: none;
      width: 100%;
      padding: 0;
      margin-top: 94px;
      margin-left: 22px;
      input {
        width: 100%;
        background-image: url("../../images/search_icon.svg");
        background-repeat: no-repeat;
        background-position: 23px center;
        padding-left: 42px;
        border-radius: 13px;
        height: 45px;
      }
    }
    .sortButton {
      cursor: pointer;
      margin-left: 22px;
      margin-top: 105px;
      min-width: 28px;
    }
    .filterButton {
      cursor: pointer;
      margin-left: 18px;
      margin-top: 105px;
      margin-right: 30px;
      min-width: 24px;
    }
  }

  .cateroriesField {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    gap: 10px;
    padding-right: 25px;
  }

  .productsField {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 33px;
    margin-bottom: 120px;
    .productRow {
      display: flex;
      justify-content: space-between;
      margin: 0 10px 0 10px;
    }
  }
}
