.container585_600 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container585_600 .divideLine {
  width: 100%;
  height: 2px;
  background-color: #363636;
  margin: 20px 0 20px 0;
}
.container585_600 .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.container585_600 .field img {
  height: 32px;
}
.container585_600 .fieldText {
  color: #f1f1f1;
  font-size: 21px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container565_585 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container565_585 .divideLine {
  width: 100%;
  height: 2px;
  background-color: #363636;
  margin: 20px 0 20px 0;
}
.container565_585 .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.container565_585 .field img {
  height: 32px;
}
.container565_585 .fieldText {
  color: #f1f1f1;
  font-size: 20px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container525_565 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container525_565 .divideLine {
  width: 100%;
  height: 2px;
  background-color: #363636;
  margin: 20px 0 20px 0;
}
.container525_565 .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.container525_565 .field img {
  height: 27px;
}
.container525_565 .fieldText {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container485_525 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container485_525 .divideLine {
  width: 100%;
  height: 2px;
  background-color: #363636;
  margin: 20px 0 20px 0;
}
.container485_525 .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.container485_525 .field img {
  height: 24px;
}
.container485_525 .fieldText {
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container450_485 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container450_485 .divideLine {
  width: 100%;
  height: 2px;
  background-color: #363636;
  margin: 20px 0 20px 0;
}
.container450_485 .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.container450_485 .field img {
  height: 23px;
}
.container450_485 .fieldText {
  color: #f1f1f1;
  font-size: 15px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container410_450 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container410_450 .divideLine {
  width: 100%;
  height: 2px;
  background-color: #363636;
  margin: 20px 0 20px 0;
}
.container410_450 .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.container410_450 .field img {
  height: 21px;
}
.container410_450 .fieldText {
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container375_410 {
  padding: 20px;
  background-color: #080808;
  width: 100%;
  border-radius: 26px;
}
.container375_410 .divideLine {
  width: 100%;
  height: 2px;
  background-color: #363636;
  margin: 20px 0 20px 0;
}
.container375_410 .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.container375_410 .field img {
  height: 21px;
}
.container375_410 .fieldText {
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
