@font: TTForsTrialVariable;
@bronzeGragient: linear-gradient(90deg, #df7b42, #7a3e1c);
@silverGradient: linear-gradient(90deg, #a9a9a9, #676767);
@goldGradient: linear-gradient(90deg, #fdb220, #835b0d);
.container585_600 {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .aboutUser {
    display: flex;
    gap: 13px;
    cursor: pointer;
    .imageUser {
      width: 48px;
      border-radius: 50%;
      object-fit: cover;
    }
    .attributes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .userButton {
        display: flex;
        gap: 5px;
        align-items: center;
        img {
          height: 27px;
        }
        .userValues {
          color: white;
          font-size: 18px;
          font-weight: 600;
          font-family: @font;
        }
      }
      .rankUser {
        display: flex;
        align-items: center;
        color: white;
        font-size: 16px;
        font-weight: 500;
        height: 22px;
        padding: 0 10px 0 10px;
        text-align: center;
        border-radius: 90px;
        width: max-content;
        font-family: @font;
      }
      .bronzeRank {
        background: @bronzeGragient;
      }
      .silverRank {
        background: @silverGradient;
      }
      .goldRank {
        background: @goldGradient;
      }
    }
  }
  .telegramButton {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: white;
    width: max-content;
    padding: 0 15px 0 15px;
    border-radius: 79px;
  }
  .tgIcon {
    width: 31px;
  }
  .telegramText {
    font-family: @font;
    color: black;
    font-weight: 500;
    font-size: 18px;
  }
}

.container565_585 {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .aboutUser {
    display: flex;
    gap: 7px;
    cursor: pointer;
    .imageUser {
      width: 47px;
      border-radius: 50%;
      object-fit: cover;
    }
    .attributes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .userButton {
        display: flex;
        gap: 5px;
        align-items: center;
        img {
          height: 27px;
        }
      }
      .userValues {
        color: white;
        font-size: 18px;
        font-weight: 600;
        font-family: @font;
      }
      .rankUser {
        display: flex;
        align-items: center;
        color: white;
        font-size: 16px;
        font-weight: 500;
        height: 22px;
        padding: 0 10px 0 10px;
        background-color: black;
        text-align: center;
        border-radius: 90px;
        width: max-content;
        font-family: @font;
      }
      .bronzeRank {
        background: @bronzeGragient;
      }
      .silverRank {
        background: @silverGradient;
      }
      .goldRank {
        background: @goldGradient;
      }
    }
  }
  .telegramButton {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: white;
    width: max-content;
    padding: 0 15px 0 15px;
    border-radius: 79px;
  }
  .tgIcon {
    width: 30px;
  }
  .telegramText {
    font-family: @font;
    color: black;
    font-weight: 500;
    font-size: 18px;
  }
}
.container525_565 {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .aboutUser {
    display: flex;
    gap: 7px;
    cursor: pointer;
    .imageUser {
      width: 46px;
      border-radius: 50%;
      object-fit: cover;
    }
    .attributes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .userButton {
        display: flex;
        gap: 5px;
        align-items: center;
        img {
          height: 27px;
        }
      }
      .userValues {
        color: white;
        font-size: 18px;
        font-weight: 600;
        font-family: @font;
      }
      .rankUser {
        display: flex;
        align-items: center;
        color: white;
        font-size: 16px;
        font-weight: 500;
        height: 22px;
        padding: 0 10px 0 10px;
        background-color: black;
        text-align: center;
        border-radius: 90px;
        width: max-content;
        font-family: @font;
      }
      .bronzeRank {
        background: @bronzeGragient;
      }
      .silverRank {
        background: @silverGradient;
      }
      .goldRank {
        background: @goldGradient;
      }
    }
  }
  .telegramButton {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: white;
    width: max-content;
    padding: 0 15px 0 15px;
    border-radius: 79px;
  }
  .tgIcon {
    width: 29px;
  }
  .telegramText {
    font-family: @font;
    color: black;
    font-weight: 500;
    font-size: 18px;
  }
}

.container485_525 {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .aboutUser {
    display: flex;
    gap: 7px;
    cursor: pointer;
    .imageUser {
      width: 45px;
      border-radius: 50%;
      object-fit: cover;
    }
    .attributes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .userButton {
        display: flex;
        gap: 5px;
        align-items: center;
        img {
          height: 24px;
        }
      }
      .userValues {
        color: white;
        font-size: 16px;
        font-weight: 600;
        font-family: @font;
      }
      .rankUser {
        display: flex;
        align-items: center;
        color: white;
        font-size: 14px;
        font-weight: 500;
        height: 22px;
        padding: 0 10px 0 10px;
        background-color: black;
        text-align: center;
        border-radius: 90px;
        width: max-content;
        font-family: @font;
      }
      .bronzeRank {
        background: @bronzeGragient;
      }
      .silverRank {
        background: @silverGradient;
      }
      .goldRank {
        background: @goldGradient;
      }
    }
  }
  .telegramButton {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: white;
    width: max-content;
    padding: 0 15px 0 15px;
    border-radius: 79px;
  }
  .tgIcon {
    width: 28px;
  }
  .telegramText {
    font-family: @font;
    color: black;
    font-weight: 500;
    font-size: 16px;
  }
}

.container450_485 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  .aboutUser {
    display: flex;
    gap: 7px;
    cursor: pointer;
    .imageUser {
      width: 44px;
      border-radius: 50%;
      object-fit: cover;
    }
    .attributes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .userButton {
        display: flex;
        gap: 5px;
        align-items: center;
        img {
          height: 24px;
        }
      }
      .userValues {
        color: white;
        font-size: 16px;
        font-weight: 600;
        font-family: @font;
      }
      .rankUser {
        display: flex;
        align-items: center;
        color: white;
        font-size: 14px;
        font-weight: 500;
        height: 22px;
        padding: 0 10px 0 10px;
        background-color: black;
        text-align: center;
        border-radius: 90px;
        width: max-content;
        font-family: @font;
      }
      .bronzeRank {
        background: @bronzeGragient;
      }
      .silverRank {
        background: @silverGradient;
      }
      .goldRank {
        background: @goldGradient;
      }
    }
  }
  .telegramButton {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: white;
    width: max-content;
    padding: 0 15px 0 15px;
    border-radius: 79px;
  }
  .tgIcon {
    width: 27px;
  }
  .telegramText {
    font-family: @font;
    color: black;
    font-weight: 500;
    font-size: 16px;
  }
}

.container410_450 {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .aboutUser {
    display: flex;
    gap: 7px;
    cursor: pointer;
    .imageUser {
      width: 43px;
      border-radius: 50%;
      object-fit: cover;
    }
    .attributes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .userButton {
        display: flex;
        gap: 3px;
        align-items: center;
        img {
          height: 21px;
        }
      }
      .userValues {
        color: white;
        font-size: 14px;
        font-weight: 600;
        font-family: @font;
      }
      .rankUser {
        display: flex;
        align-items: center;
        color: white;
        font-size: 12px;
        font-weight: 500;
        height: 22px;
        padding: 0 10px 0 10px;
        background-color: black;
        text-align: center;
        border-radius: 90px;
        width: max-content;
        font-family: @font;
      }
      .bronzeRank {
        background: @bronzeGragient;
      }
      .silverRank {
        background: @silverGradient;
      }
      .goldRank {
        background: @goldGradient;
      }
    }
  }
  .telegramButton {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: white;
    width: max-content;
    padding: 0 10px 0 10px;
    border-radius: 79px;
  }
  .tgIcon {
    width: 26px;
  }
  .telegramText {
    font-family: @font;
    color: black;
    font-weight: 500;
    font-size: 14px;
  }
}

.container375_410 {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .aboutUser {
    display: flex;
    gap: 7px;
    cursor: pointer;
    .imageUser {
      width: 42px;
      border-radius: 50%;
      object-fit: cover;
    }
    .attributes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .userButton {
        display: flex;
        gap: 3px;
        align-items: center;
        img {
          height: 21px;
        }
      }
      .userValues {
        color: white;
        font-size: 14px;
        font-weight: 600;
        font-family: @font;
      }
      .rankUser {
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        color: white;
        font-size: 12px;
        font-weight: 500;
        height: 22px;
        padding: 0 10px 0 10px;
        background-color: black;
        text-align: center;
        border-radius: 90px;
        width: max-content;
        font-family: @font;
      }
      .bronzeRank {
        background: @bronzeGragient;
      }
      .silverRank {
        background: @silverGradient;
      }
      .goldRank {
        background: @goldGradient;
      }
    }
  }
  .telegramButton {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: white;
    width: max-content;
    padding: 0 5px 0 5px;
    border-radius: 79px;
  }
  .tgIcon {
    width: 25px;
  }
  .telegramText {
    font-family: @font;
    color: black;
    font-weight: 500;
    font-size: 14px;
  }
}
