@font: TTForsTrialVariable;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: rgba(8, 8, 8, 1);
  width: 100%;
  border-radius: 26px;
  cursor: pointer;
  .headerText {
    color: rgba(241, 241, 241, 1);
    font-size: 23px;
    font-weight: 600;
    font-family: @font;
  }
  .placeText {
    color: rgba(241, 241, 241, 1);
    font-size: 21px;
    font-weight: 500;
    font-family: @font;
  }
  .buttonAdress {
    display: flex;
    gap: 10px;
    align-items: center;
    .buttonAdressText {
      color: rgba(104, 104, 104, 1);
      font-size: 20px;
      font-family: @font;
    }
  }
}
