.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 20px 30px 20px 30px;
  background-color: rgba(8, 8, 8, 1);
  width: 100%;
  border-radius: 26px;
  .headerText {
    color: rgba(241, 241, 241, 1);
    font-size: 23px;
    font-weight: 600;
  }
  .placeText {
    color: rgba(241, 241, 241, 1);
    font-size: 21px;
    font-weight: 500;
  }
  .buttonAdress {
    display: flex;
    gap: 10px;
    align-items: center;
    .buttonAdressText {
      color: rgba(104, 104, 104, 1);
      font-size: 20px;
    }
  }
}
