.container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  header {
    width: 100%;
    background-color: rgba(219, 105, 0, 1);
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    .namePage {
      display: flex;
      justify-content: center;
      .namePageText {
        color: rgba(252, 252, 252, 1);
      }
    }
    .selectButton {
      position: absolute;
      bottom: 14px;
      right: 24px;
      .selectButtonText {
        color: rgba(252, 252, 252, 1);
      }
    }
  }
}
