.container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}
.container .header {
  position: sticky;
  padding-top: 110px;
  padding-bottom: 14px;
  background-color: #db6900;
}
.container .header .namePageText {
  display: flex;
  justify-content: center;
  color: #fcfcfc;
  font-size: 24px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container .header .selectButton {
  position: absolute;
  cursor: pointer;
  bottom: 14px;
  right: 24px;
}
.container .header .selectButton .selectButtonText {
  color: #fcfcfc;
  font-size: 24px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
.container .discountContainer {
  margin: 20px 16px 0 16px;
}
.container .productContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 12px 10px 0px 10px;
}
.container .orderButton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 60px 86px 110px 86px;
  height: 78px;
  background-color: #db6900;
  border-radius: 21px;
  padding: 0 40px 0 40px;
  cursor: pointer;
}
.container .orderButton .orderButtonText {
  color: white;
  font-weight: 600;
  font-size: 26px;
  font-family: TTForsTrialVariable;
}
.container .orderButton .detailsdOrderText {
  color: white;
  font-family: TTForsTrialVariable;
  font-weight: 500;
  font-size: 20px;
}
