.container585_600 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: black;
  border-radius: 28px;
  padding: 13px 0 27px 28px;
}
.container585_600 .headerButton {
  display: flex;
  align-items: center;
  gap: 7px;
}
.container585_600 .headerButton p {
  font-size: 23px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
  font-weight: 600;
}
.container585_600 .headerButton img {
  width: 9px;
}
.container585_600 .countRow {
  display: flex;
  gap: 15px;
  align-items: center;
}
.container585_600 .countRow p {
  font-size: 47px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
}
.container585_600 .countRow img {
  width: 36px;
}
.container565_585 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: black;
  border-radius: 28px;
  padding: 13px 0 27px 28px;
}
.container565_585 .headerButton {
  display: flex;
  align-items: center;
  gap: 7px;
}
.container565_585 .headerButton p {
  font-size: 21px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
  font-weight: 600;
}
.container565_585 .headerButton img {
  width: 9px;
}
.container565_585 .countRow {
  display: flex;
  gap: 15px;
  align-items: center;
}
.container565_585 .countRow p {
  font-size: 45px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
}
.container565_585 .countRow img {
  width: 34px;
}
.container525_565 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: black;
  border-radius: 28px;
  padding: 13px 0 27px 28px;
}
.container525_565 .headerButton {
  display: flex;
  align-items: center;
  gap: 7px;
}
.container525_565 .headerButton p {
  font-size: 20px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
  font-weight: 600;
}
.container525_565 .headerButton img {
  width: 9px;
}
.container525_565 .countRow {
  display: flex;
  gap: 15px;
  align-items: center;
}
.container525_565 .countRow p {
  font-size: 43px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
}
.container525_565 .countRow img {
  width: 32px;
}
.container485_525 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: black;
  border-radius: 28px;
  padding: 13px 0 27px 28px;
}
.container485_525 .headerButton {
  display: flex;
  align-items: center;
  gap: 7px;
}
.container485_525 .headerButton p {
  font-size: 19px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
  font-weight: 600;
}
.container485_525 .headerButton img {
  width: 9px;
}
.container485_525 .countRow {
  display: flex;
  gap: 15px;
  align-items: center;
}
.container485_525 .countRow p {
  font-size: 41px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
}
.container485_525 .countRow img {
  width: 30px;
}
.container450_485 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: black;
  border-radius: 28px;
  padding: 13px 0 27px 28px;
}
.container450_485 .headerButton {
  display: flex;
  align-items: center;
  gap: 7px;
}
.container450_485 .headerButton p {
  font-size: 17px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
  font-weight: 600;
}
.container450_485 .headerButton img {
  width: 9px;
}
.container450_485 .countRow {
  display: flex;
  gap: 15px;
  align-items: center;
}
.container450_485 .countRow p {
  font-size: 39px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
}
.container450_485 .countRow img {
  width: 28px;
}
.container410_450 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: black;
  border-radius: 28px;
  padding: 13px 0 27px 28px;
}
.container410_450 .headerButton {
  display: flex;
  align-items: center;
  gap: 7px;
}
.container410_450 .headerButton p {
  font-size: 16px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
  font-weight: 600;
}
.container410_450 .headerButton img {
  width: 9px;
}
.container410_450 .countRow {
  display: flex;
  gap: 15px;
  align-items: center;
}
.container410_450 .countRow p {
  font-size: 37px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
}
.container410_450 .countRow img {
  width: 26px;
}
.container375_410 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: black;
  border-radius: 28px;
  padding: 13px 0 27px 20px;
}
.container375_410 .headerButton {
  display: flex;
  align-items: center;
  gap: 7px;
}
.container375_410 .headerButton p {
  font-size: 16px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
  font-weight: 600;
}
.container375_410 .headerButton img {
  width: 9px;
}
.container375_410 .countRow {
  display: flex;
  gap: 15px;
  align-items: center;
}
.container375_410 .countRow p {
  font-size: 35px;
  color: #e36e00;
  font-family: TTForsTrialVariable;
}
.container375_410 .countRow img {
  width: 26px;
}
