.container585_600 {
  width: 263px;
}
.container585_600 .countProductText {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
  font-family: TTForsTrialVariable;
}
.container585_600 .priceField {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container585_600 .priceField .priceText {
  color: #db6900;
  font-size: 23px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container585_600 .priceField .oldPriceText {
  color: #9b9b9b;
  text-decoration: line-through;
  font-size: 21px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
.container585_600 .modelNameText {
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container585_600 .addButton {
  display: flex;
  justify-content: center;
  width: max-content;
  gap: 10px;
  align-items: center;
  padding: 7px 14px 7px 14px;
  background-color: #db6900;
  border-radius: 152px;
  margin-top: 5px;
  cursor: pointer;
}
.container585_600 .addButton .addButtonText {
  font-size: 18px;
  font-weight: 600;
  color: white;
  font-family: TTForsTrialVariable;
}
.container585_600 .addButton .shopIcon {
  width: 33px;
}
.container565_585 {
  width: 253px;
}
.container565_585 .countProductText {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  margin-top: 5px;
  font-family: TTForsTrialVariable;
}
.container565_585 .priceField {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container565_585 .priceField .priceText {
  color: #db6900;
  font-size: 21px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container565_585 .priceField .oldPriceText {
  color: #9b9b9b;
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
.container565_585 .modelNameText {
  color: white;
  font-size: 19px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container565_585 .addButton {
  display: flex;
  justify-content: center;
  width: max-content;
  gap: 10px;
  align-items: center;
  padding: 7px 14px 7px 14px;
  background-color: #db6900;
  border-radius: 152px;
  margin-top: 5px;
  cursor: pointer;
}
.container565_585 .addButton .addButtonText {
  font-size: 18px;
  font-weight: 600;
  color: white;
  font-family: TTForsTrialVariable;
}
.container565_585 .addButton .shopIcon {
  width: 30px;
}
.container525_565 {
  width: 238px;
}
.container525_565 .countProductText {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  margin-top: 5px;
  font-family: TTForsTrialVariable;
}
.container525_565 .priceField {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container525_565 .priceField .priceText {
  color: #db6900;
  font-size: 20px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container525_565 .priceField .oldPriceText {
  color: #9b9b9b;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
.container525_565 .modelNameText {
  color: white;
  font-size: 17px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container525_565 .addButton {
  display: flex;
  justify-content: center;
  width: max-content;
  gap: 10px;
  align-items: center;
  padding: 7px 14px 7px 14px;
  background-color: #db6900;
  border-radius: 152px;
  margin-top: 5px;
  cursor: pointer;
}
.container525_565 .addButton .addButtonText {
  font-size: 18px;
  font-weight: 600;
  color: white;
  font-family: TTForsTrialVariable;
}
.container525_565 .addButton .shopIcon {
  width: 27px;
}
.container485_525 {
  width: 223px;
}
.container485_525 .countProductText {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  font-family: TTForsTrialVariable;
}
.container485_525 .priceField {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container485_525 .priceField .priceText {
  color: #db6900;
  font-size: 18px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container485_525 .priceField .oldPriceText {
  color: #9b9b9b;
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
.container485_525 .modelNameText {
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container485_525 .addButton {
  display: flex;
  justify-content: center;
  width: max-content;
  gap: 10px;
  align-items: center;
  padding: 7px 14px 7px 14px;
  background-color: #db6900;
  border-radius: 152px;
  margin-top: 5px;
  cursor: pointer;
}
.container485_525 .addButton .addButtonText {
  font-size: 16px;
  font-weight: 600;
  color: white;
  font-family: TTForsTrialVariable;
}
.container485_525 .addButton .shopIcon {
  width: 24px;
}
.container450_485 {
  width: 208px;
}
.container450_485 .countProductText {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  font-family: TTForsTrialVariable;
}
.container450_485 .priceField {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container450_485 .priceField .priceText {
  color: #db6900;
  font-size: 17px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container450_485 .priceField .oldPriceText {
  color: #9b9b9b;
  text-decoration: line-through;
  font-size: 15px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
.container450_485 .modelNameText {
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container450_485 .addButton {
  display: flex;
  justify-content: center;
  width: max-content;
  gap: 10px;
  align-items: center;
  padding: 7px 14px 7px 14px;
  background-color: #db6900;
  border-radius: 152px;
  margin-top: 5px;
  cursor: pointer;
}
.container450_485 .addButton .addButtonText {
  font-size: 16px;
  font-weight: 600;
  color: white;
  font-family: TTForsTrialVariable;
}
.container450_485 .addButton .shopIcon {
  width: 21px;
}
.container410_450 {
  width: 193px;
}
.container410_450 .countProductText {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
  font-family: TTForsTrialVariable;
}
.container410_450 .priceField {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container410_450 .priceField .priceText {
  color: #db6900;
  font-size: 16px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container410_450 .priceField .oldPriceText {
  color: #9b9b9b;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
.container410_450 .modelNameText {
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container410_450 .addButton {
  display: flex;
  justify-content: center;
  width: max-content;
  gap: 10px;
  align-items: center;
  padding: 7px 14px 7px 14px;
  background-color: #db6900;
  border-radius: 152px;
  margin-top: 5px;
  cursor: pointer;
}
.container410_450 .addButton .addButtonText {
  font-size: 14px;
  font-weight: 600;
  color: white;
  font-family: TTForsTrialVariable;
}
.container410_450 .addButton .shopIcon {
  width: 21px;
}
.container375_410 {
  width: 173px;
}
.container375_410 .countProductText {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
  font-family: TTForsTrialVariable;
}
.container375_410 .priceField {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container375_410 .priceField .priceText {
  color: #db6900;
  font-size: 16px;
  font-weight: 600;
  font-family: TTForsTrialVariable;
}
.container375_410 .priceField .oldPriceText {
  color: #9b9b9b;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
}
.container375_410 .modelNameText {
  color: white;
  font-size: 13px;
  font-weight: 500;
  font-family: TTForsTrialVariable;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container375_410 .addButton {
  display: flex;
  justify-content: center;
  width: max-content;
  gap: 10px;
  align-items: center;
  padding: 7px 14px 7px 14px;
  background-color: #db6900;
  border-radius: 152px;
  margin-top: 5px;
  cursor: pointer;
}
.container375_410 .addButton .addButtonText {
  font-size: 14px;
  font-weight: 600;
  color: white;
  font-family: TTForsTrialVariable;
}
.container375_410 .addButton .shopIcon {
  width: 21px;
}
