.imageContainer585_600 {
  position: relative;
}
.imageContainer585_600 .slideTrack {
  display: flex;
  padding: 0 0 30px 0 !important;
}
.imageContainer585_600 .slideTrack .slider {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.imageContainer585_600 .slideTrack .imageProduct {
  object-fit: cover;
  border-radius: 28px;
  width: 263px;
  height: 263px;
  cursor: pointer;
}
.imageContainer585_600 .slideTrack .favouriteButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 17px;
  top: 17px;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.imageContainer585_600 .slideTrack .favouriteButton img {
  width: 20px;
  height: 18px;
}
.imageContainer565_585 {
  position: relative;
}
.imageContainer565_585 .slideTrack {
  display: flex;
  padding: 0 0 30px 0 !important;
}
.imageContainer565_585 .slideTrack .slider {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.imageContainer565_585 .slideTrack .imageProduct {
  object-fit: cover;
  border-radius: 28px;
  width: 253px;
  height: 253px;
  cursor: pointer;
}
.imageContainer565_585 .slideTrack .favouriteButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 17px;
  top: 17px;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.imageContainer565_585 .slideTrack .favouriteButton img {
  width: 20px;
  height: 18px;
}
.imageContainer525_565 {
  position: relative;
}
.imageContainer525_565 .slideTrack {
  display: flex;
  padding: 0 0 30px 0 !important;
}
.imageContainer525_565 .slideTrack .slider {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.imageContainer525_565 .slideTrack .imageProduct {
  object-fit: cover;
  border-radius: 28px;
  width: 238px;
  height: 238px;
  cursor: pointer;
}
.imageContainer525_565 .slideTrack .favouriteButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 17px;
  top: 17px;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.imageContainer525_565 .slideTrack .favouriteButton img {
  width: 20px;
  height: 18px;
}
.imageContainer485_525 {
  position: relative;
}
.imageContainer485_525 .slideTrack {
  display: flex;
  padding: 0 0 30px 0 !important;
}
.imageContainer485_525 .slideTrack .slider {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.imageContainer485_525 .slideTrack .imageProduct {
  object-fit: cover;
  border-radius: 28px;
  width: 223px;
  height: 223px;
  cursor: pointer;
}
.imageContainer485_525 .slideTrack .favouriteButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 17px;
  top: 17px;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.imageContainer485_525 .slideTrack .favouriteButton img {
  width: 20px;
  height: 18px;
}
.imageContainer450_485 {
  position: relative;
}
.imageContainer450_485 .slideTrack {
  display: flex;
  padding: 0 0 30px 0 !important;
}
.imageContainer450_485 .slideTrack .slider {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.imageContainer450_485 .slideTrack .imageProduct {
  object-fit: cover;
  border-radius: 28px;
  width: 208px;
  height: 208px;
  cursor: pointer;
}
.imageContainer450_485 .slideTrack .favouriteButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 17px;
  top: 17px;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.imageContainer450_485 .slideTrack .favouriteButton img {
  width: 20px;
  height: 18px;
}
.imageContainer410_450 {
  position: relative;
}
.imageContainer410_450 .slideTrack {
  display: flex;
  padding: 0 0 30px 0 !important;
}
.imageContainer410_450 .slideTrack .slider {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.imageContainer410_450 .slideTrack .imageProduct {
  object-fit: cover;
  border-radius: 28px;
  width: 193px;
  height: 193px;
  cursor: pointer;
}
.imageContainer410_450 .slideTrack .favouriteButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 17px;
  top: 17px;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.imageContainer410_450 .slideTrack .favouriteButton img {
  width: 20px;
  height: 18px;
}
.imageContainer375_410 {
  position: relative;
}
.imageContainer375_410 .slideTrack {
  display: flex;
  padding: 0 0 30px 0 !important;
}
.imageContainer375_410 .slideTrack .slider {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.imageContainer375_410 .slideTrack .imageProduct {
  object-fit: cover;
  border-radius: 28px;
  width: 173px;
  height: 173px;
  cursor: pointer;
}
.imageContainer375_410 .slideTrack .favouriteButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 17px;
  top: 17px;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.imageContainer375_410 .slideTrack .favouriteButton img {
  width: 20px;
  height: 18px;
}
.modalProductOpen {
  position: absolute;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 96vh;
  z-index: 99999;
  background-color: #1c1c1c;
  animation: slideUp 0.2s linear;
}
@keyframes slideUp {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0%;
  }
}
